.sizesCard {
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 20em;
    height: 10em;
}

.card{
    background:#ffffff8c;
}
.menu {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.body {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h1 {
    font-family:"Comic Sans MS", cursive, sans-serif;
    color: #424242;
    font-size: 3em;
    margin-bottom: 3em;
  }